[submodule "src/test/jsmn"]
	path = src/jsmn
	url = https://github.com/getdnsapi/jsmn.git
	branch = getdns
[submodule "src/yxml"]
	path = src/yxml
	url = git://g.blicky.net/yxml.git
[submodule "stubby"]
	path = stubby
	url = https://github.com/getdnsapi/stubby.git
	branch = develop
