*~
.DS_Store
getdns*.tar.gz
*.o
.*.swp
.deps/
.libs/
Makefile
*.lo
*.la
*.dSYM/
configure
config.status
config.log
autom4te.cache
missing
libtool
example-all-functions
example-simple-answers
example-synchronous
example-tree
