[submodule "src/test/jsmn"]
	path = src/jsmn
	url = https://github.com/getdnsapi/jsmn.git
	branch = getdns
[submodule "src/yxml"]
	path = src/yxml
	url = https://github.com/getdnsapi/yxml.git
	branch = master
[submodule "stubby"]
	path = stubby
	url = https://github.com/getdnsapi/stubby.git
	branch = develop
[submodule "src/ssl_dane"]
	path = src/ssl_dane
	url = https://github.com/getdnsapi/ssl_dane
	branch = getdns
