*~
.DS_Store
getdns*.tar.gz
*.o
*.so
.*.swp
.deps/
.libs/
Makefile
*.lo
*.la
*.dSYM/
config.status
config.log
autom4te.cache
missing
libtool
example-all-functions
example-reverse
example-simple-answers
example-synchronous
example-tree
example_all_functions
example_reverse
example_simple_answers
example_synchronous
example_tree
src/doc/
src/config.h
tests_dict
tests_list
tests_stub_async
tests_stub_sync
src/example/example-reverse
src/test/check_getdns.log
check_getdns
