[submodule "src/test/jsmn"]
	path = src/jsmn
	url = https://github.com/getdnsapi/jsmn.git
	branch = getdns
[submodule "stubby"]
	path = stubby
	url = https://github.com/getdnsapi/stubby.git
	branch = master
