*~
getdns*.tar.gz
*.o
.*.swp
.deps/
.libs/
Makefile
aclocal.m4
depcomp
*.lo
*.la
config.guess
config.sub
config.status
config.log
autom4te.cache
missing
libtool
ltmain.sh
example-all-functions
example-simple-answers
example-synchronous
example-tree
