/.dir-locals.el	export-ignore
/.gitattributes	export-ignore
/.gitignore	export-ignore
/.gitmodules	export-ignore
/.indent.pro	export-ignore
/.travis.yml	export-ignore
/getdns.pmdoc	export-ignore
/gldns/compare.sh	export-ignore
/gldns/import.sh	export-ignore
/project-doc	export-ignore
/src/test/tpkg	export-ignore
/src/test/README	export-ignore
/src/tools/Dockerfile	export-ignore
/src/tools/README.adoc	export-ignore
/src/util/import.sh	export-ignore
/src/mk-const-info.c.sh	export-ignore
/src/mk-symfiles.sh	export-ignore
/README		export-ignore
